<div class="container-show-recipe d-flex justify-content-center">
  <div class="recipe-show-card">
    <h2 class="mt-2 recipe-title"><%= @recipe.title %></h2>
    <div class="recipe-content">
      <div class="recipe-view-card">
        <%= cl_image_tag @recipe.photo.key %>
        <p class="py-3 px-5"> <u>Ingredients</u>: <i><%= @recipe.ingredients %></p></i>
      </div>
      <div class="recipe-infos-card d-flex flex-column">
        <p class="px-3"> <u>Description</u>: <%= @recipe.rich_body.present? ? @recipe.rich_body : @recipe.description%></p>
        <div class="back-button btn btn-light align-self-end">
          <%= link_to 'Retour', :back %>
        </div>
      </div>
    </div>
  </div>
</div>
