<%= simple_form_for(@recipe) do |f| %>

  <div class="form-inputs" style="float:left; width:500px;">
    <%= f.input :title, :label => 'Titre de la recette', required: true %>
  </div>

  <div class="form-inputs" style="float:right; width:500px;">
    <%= f.input :category, :label => 'Catégorie de la recette', required: true, :collection => %w[Déjeuner Entrée/Soupe Lunch Souper Dessert Divers] %>
  </div>

  <div class="form-inputs" style="clear:both;">
    <%= f.input :ingredients, :label => 'Ingrédients', required: true %>
  </div>

  <div class="form-inputs">
    <%= f.rich_text_area :rich_body, placeholder: 'Explique comment préparer ton délicieux plat', required: true %>
  </div>

  <div class="form-inputs mt-2">
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Ajouter', class: 'btn btn-light' %>
  </div>
<% end %>
