<div class="container m-5">
  <div>
    <div class="card-cat-show-recipe" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @category.photo %>)">
      Recettes - <%= @category.name %></h1>
    </div>

    <%= link_to new_category_recipe_path(@category) do %>
      <div class="text-muted mt-2 mb-3"><i class="fa-regular fa-square-plus"></i> Ajouter</div>
    <% end %>
  </div>

  <% @recipes.sort.each do |recipe| %>
    <div class="list-group-item list-group-item-action">
      <%= link_to recipe_path(recipe), class:"text-decoration-none" do %>
        <h4><%= recipe.title%></h4>
      <% end  %>
    </div>
  <% end  %>

</div>
